# Python Comprehension Exercises
This worksheet contains intermediate and advanced exercises using **list**, **dictionary**, and **set comprehensions** in Python. Each section includes original tasks and harder variations to challenge your understanding.

## List Comprehension Exercises
These exercises focus on creating and manipulating lists using comprehension syntax.

### Starter Exercises

In [3]:
# 1. Create a list of the first 20 square numbers
squares = [number**2 for number in range(20)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [8]:
# 2. Create a list of the first 20 square numbers that are divisible by 3
squares = [(number*3)**2 for number in range(20)]
print(squares)

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249]

In [9]:
# 3. Create a list representing the lengths of the words in the animals list
animals = ['cat', 'elephant', 'rabbit', 'turkey', 'lion']
animal_lengths = [len(animal) for animal in animals]
print(animal_lengths)

[3, 8, 6, 6, 4]

### Intermediate Exercises

In [12]:
# 1. Flatten a Nested List
nested = [[1, 2], [3, 4], [5], [6, 7, 8, 9]]
flat = [num for nested in nested for num in nested] #the num within the nests
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# 2. Generate a List of Tuples (Number, Square, Cube) for numbers 1 to 10
result = [(number,number**2,number**3) for number in range(1,11)]
print(result)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729), (10, 100, 1000)]

In [16]:
# 3. Generate a List of coordinate pairs (i, j) where i and j are numbers from 1 to 10
coordinates = [(i,j) for i in range(1,11) for j in range(1,11)]
print(coordinates)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (6, 10), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (7, 10), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (8, 10), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9), (9, 10), (10, 1), (10, 2), (10, 3), (10, 4), (10, 5), (10, 6), (10, 7), (10, 8), (10, 9), (10, 10)]

### Advanced Variations

In [52]:
# 1. Generate a List of Pythagorean Triplets (a, b, c) with a + b + c = 1000
triplets = [(a,b,(a**2+b**2)**0.5)for a in range(0,1000) for b in range(0,1000) if a + b + (a**2+b**2)**0.5 ==1000]
print(triplets)
#idk lol

[(0, 500, 500.0), (200, 375, 425.0), (375, 200, 425.0), (500, 0, 500.0)]

## ðŸ“˜ Dictionary Comprehension Exercises
These exercises focus on creating and transforming dictionaries using comprehension syntax.

### Starter Exercises

In [22]:
# 1. Create a dictionary with the animals names as the key and the lengths of the names as the values
animals = ['cat', 'elephant', 'rabbit', 'turkey', 'lion']
animal_dictionary = {animal:len(animals) for animal in animals}
print(animal_dictionary)

{'cat': 5, 'elephant': 5, 'rabbit': 5, 'turkey': 5, 'lion': 5}

In [40]:
# 2. Create a dictionary where the keys are the numbers 1 to 10 and the values are strings '10' to '1'
number_dict = {num:str(11-num) for num in range(1,11)}
print(number_dict)

{1: '10', 2: '9', 3: '8', 4: '7', 5: '6', 6: '5', 7: '4', 8: '3', 9: '2', 10: '1'}

### Intermediate Exercises

In [57]:
# 1. Invert a Dictionary so that keys become values and values become keys
original = {'a': 1, 'b': 2, 'c': 3}
inverted = {v:k for k,v in original.items()}
print(inverted)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 2. Count Character Frequency in a String
text = "intermediate comprehension"
freq = {char:charfreq for char in text}
print(freq)

In [ ]:
# 3. Map Numbers to Their Binary Representation for numbers one to 20 - e.g. {1: '1', 2: '10', ...}
# Hint bin(5) gives the string '0b101'
binary_map = {}
print(binary_map)

### Advanced Variations

In [ ]:
# 1. Group Words by Their Length - e.g. {3: ['fig'], 5: ['apple', 'peach', 'grape'] , ...}
words = ["apple", "banana", "cherry", "peach", "fig", "grape"]
grouped = {length: [word for word in words if len(word) == length] for length in set(map(len, words))}
print(grouped)

## ðŸ§® Set Comprehension Exercises
These exercises focus on extracting and manipulating sets using comprehension syntax.

### Starter Exercises

In [ ]:
# 1. Extract the set of characters from this word using a list comprehension
# Note that this is equivalent to set(word)
word = 'abracadabra'
letters = {char for char in word}
print(letters)

In [ ]:
# 2. Extract the set of even numbers from the numbers in the list
numbers = [6, 4, 2, 3, 5, 4, 6, 8, 2, 5, 7]
even_number_set = {i for i in numbers if i % 2 == 0}
print(even_number_set)

### Intermediate Exercises

In [ ]:
# 1. Extract Unique Vowels from a Sentence
sentence = "Python comprehensions are powerful"
vowels = {}
print(vowels)

In [ ]:
# 2. Find Common Elements in Two Lists using a list comprehension
# Note that set(a) & set(b) will also achieve this
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7]
common = {}
print(common)

### Advanced Variations

In [ ]:
# 3. Find All Unique Characters That Appear More Than Once in a String
s = "comprehension_challenge"
repeated = {}
print(repeated)

In [ ]:
# 1. Find All Unique Words in Two Paragraphs That Are Not Shared
# Note that you can do this by using the xor operator (^) on the sets of wor
para1 = "Python is great for data science and machine learning"
para2 = "JavaScript is great for web development and frontend design"
unique = set() ^ set()
print(unique)